<!DOCTYPE html>
<html>
  <head>
    <title>Crud project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  </head>
  <body>
    <div class="ui inverted menu">
      <div class="ui container">
        <div class="header item"><i class="users icon"></i>User Site</div>
            <a href="/user" class="item">
              <i class="home icon"></i>
              Home
            </a>
            <a href="/user/new" class="item">
              <i class="add user icon"></i>
              Create a user
            </a>
      </div>
    </div>
