<!-- FORM -->
<form class="ui form" ng-submit="processForm()">
  <!-- NAME -->
  <divclass="field">
    <label>Name</label>
    <input type="text" name="name" class="form-control" placeholder="Bruce Wayne" ng-model="formData.name">
    <span class="help-block"></span>
  </div>

  <!-- AGE -->
  <div class="field">
    <label>AGE</label>
    <input type="text" name="age" class="form-control" placeholder="0" ng-model="formData.age">
    <span class="help-block"></span>
  </div>
  <!-- EMAIL -->
  <div class="field">
    <label>email</label>
    <input type="text" name="email" class="form-control" placeholder="CapedCrusader@batman.com" ng-model="formData.email">
    <span class="help-block"></span>
  </div>

  <!-- SUBMIT BUTTON -->
  <button type="submit" class="ui blue basic button">
    <span></span> Submit!
  </button>
</form>

<!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->
<pre>
    {{ formData }}
</pre>
