i.icon {
  font-size: 2em;
  color: #63B8FF;
}

i.icon.remove {
  color: red;
}

.container.main {
  margin: 7.0em;
}


li {
  font-family: "helvetica";
  font-weight: lighter;
  list-style-type: none;
}

.name {
  font-weight: lighter;
  text-transform: uppercase;
  color: darkgrey;
}

.huge.header,
h2 {
  text-transform: uppercase;
  font-weight: lighter;
}
